<div *ngIf="food" class="container">
  <div class="row ">
    <div class="col s4 l3 foodpic ">
      <div class="card">
            <div class="card-image">
                <img class="foodpic img-responsive" [src]='BASE_URL + food.imgAvatar' />

              </div>
                          <div class="card-content">
                            <p></p>
                          </div>

                        </div>
                        <a [routerLink]="['/foods/', food._id, 'edit']" class="waves-effect waves-light btn orange">Edit </a>
                        <a (click)="deleteFood()" class="waves-effect waves-light btn red"> Delete </a>

                </div>
                <h2> {{ food.foodName}} </h2>

<div class="col s4 l6">
  <hr>
   <span class="tabul1"><strong> Food Name: </strong></span><span class="tabul2">{{food.foodName }}</span>
   <p>
   <span class="tabul1"><strong> Restaurant: </strong></span><span class="tabul2">{{food.restaurantName }}</span>
   <p>
    <span class="tabul1"><strong>Restaurant Address: </strong></span><span class="tabul2">{{food.restaurantAddress }}</span>
     <p>
      <span class="tabul1"><strong>Name in menu: </strong></span><span class="tabul2">{{food.restaurantFoodName }}</span>
       <p>
   <span class="tabul1"><strong> Category: </strong></span><span class="tabul2">{{food.foodCategory }}</span>
   <p>
  <span class="tabul1"><strong>SubCategory: </strong></span><span class="tabul2">{{food.foodSubCategory }}</span>
  <p>
    <span class="tabul1"><strong>Price: </strong></span><span class="tabul2">${{food.price }}</span>
    <p>
      <span class="tabul1"><strong>Rate: </strong></span><span class="tabul2">{{food.rate }}/5</span>
      <p>
        <span class="tabul1"><strong>Review: </strong></span><span class="tabul2">{{food.review }}</span>
        <p>
          <p>




       </div>


  <div class="col s4 l3">
    <div class="card-panel teal">
      <h4 class="white-text center">Creator Info:</h4>
      <span class="tabul1 white-text"><strong>Created by: </strong></span><span class="tabul2 white-text">{{food.foodCreator.username }}</span>
      <p>
        <p>
          <span class="tabul1 white-text"><strong>Full Name : </strong></span><span class="tabul2 white-text">{{food.foodCreator.name}} {{food.foodCreator.lastname}}</span>
          <p>
            <p>
      <p class="white-text"><strong>User's Avatar Image:</strong></p>
        <img class="responsive-img center avatarpic circle" [src]='BASE_URL + food.foodCreator.avatarImage' />
        <br>
        <span class="tabul1 white-text"><strong>City : </strong></span><span class="tabul2 white-text">{{food.foodCreator.city}}</span>
        <p>
          <p>
            <span class="tabul1 white-text"><strong>Description : </strong></span><span class="tabul2 white-text">{{food.foodCreator.description}}</span>
            <p>
              <p>

    </div>
  </div>





       </div>

       <div class="row">
         <div class="col s5 offset-s5">
         <span><a class="btn" [routerLink]="['/foods']"> Back to list </a></span>
         </div>
       </div>



       </div>
