
<ul id="foodcategories" class="dropdown-content">
<li><a [routerLink]="['/api/foods/category/española']">Española</a></li>
<li><a [routerLink]="['/api/foods/category/italiana']">Italiana</a></li>
<li><a [routerLink]="['/api/foods/category/mexicana']">Mexicana</a>
  <li><a [routerLink]="['/api/foods/category/fast-food']">Fast Food</a></li>
  <li><a [routerLink]="['/api/foods/category/japonesa']">Japonesa</a></li>
  <li><a [routerLink]="['/api/foods/category/boliviana']">Boliviana</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper indigo darken-1">
      <a [routerLink]="['']" class="title-header center">Voracious</a>
      <a *ngIf="user"> Hola {{ User.username }} </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li *ngIf="session.user && session.startLoginCompleted"><img class="circle responsive-img avatar" width="50px" [src]='"http://localhost:3000/"+session.user.avatarImage' /></li>
        <li *ngIf="session.user && session.startLoginCompleted"><strong [routerLink]="['profile']"> Hello {{session.user.username}}</strong></li>
        <li *ngIf="!session.user && session.startLoginCompleted"><a [routerLink]="['signup']">
          <i class="material-icons left">border_color</i>Signup</a></li>
        <li *ngIf="!session.user && session.startLoginCompleted"><a [routerLink]="['login']">
          <i class="material-icons left">input</i>Login</a></li>

        <li *ngIf="session.user && session.startLoginCompleted"><a (click)="logout()" [routerLink]="['login']">
          <i class="material-icons left">exit_to_app</i>Logout</a></li>
      </ul>

      <ul class="left hide-on-med-and-down">
                <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['foods']">Foods</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="foodcategories">Tipo de Cocina<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li *ngIf="session.user && session.startLoginCompleted"><strong class="red"> Welcome {{session.user.username}}</strong></li>
        <li *ngIf="!session.user && session.startLoginCompleted"><a [routerLink]="['signup']">Signup</a></li>
        <li *ngIf="!session.user && session.startLoginCompleted"><a [routerLink]="['login']">Login</a></li>
        <li *ngIf="session.user && session.startLoginCompleted"><a [routerLink]="['profile']">Your Profile</a> </li>
        <li><a [routerLink]="['foods']">Foods</a></li>
        <li class="divider">
        <li><a [routerLink]="['/api/foods/category/española']">Española</a></li>
        <li><a [routerLink]="['/api/foods/category/italiana']">Italiana</a></li>
        <li><a [routerLink]="['/api/foods/category/mexicana']">Mexicana</a>
          <li><a [routerLink]="['/api/foods/category/fast-food']">Fast Food</a></li>
          <li><a [routerLink]="['/api/foods/category/japonesa']">Japonesa</a></li>
          <li><a [routerLink]="['/api/foods/category/boliviana']">Boliviana</a></li>
      </ul>
    </div>
  </nav>



  <router-outlet></router-outlet>


  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright © 2017 Claudia Duarte & Salvatore Costanzo Searchbar by: Miguel
      </div>
    </div>
  </footer>
